body {
    background-color: #5A99A7;
}

.button-container {
    flex-direction: column;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* assign min-height */

h1 {
    font-family: 'Shrikhand', cursive;
    color: #224B5A;
    text-align: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#logo {
    flex-direction: column;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primarybutton {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    color: #F9FEE7;
    word-spacing: 1.5px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 64px;
    padding-right: 64px;
    background-color: #134B57;
    border: none;
    border-radius: 64px;

}

footer{
    bottom: 25px;
    position: fixed;
    width: 100%;
    text-align:center;
    color:#F9FEE7;
}
